header {
    background-color: #BBB;
}

.caja {
    width: 940px;
    position: relative; 
    margin: 0 auto;
    padding: 20px 0;
}

nav {
    position:absolute;
    top: 110px;
    right: 0;
}


nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}